
body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 40px;
    font-weight: 1000;
}

.dna-background {
    position: fixed;
    width: 800px;
    height: 1500px;
    margin-top: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    z-index: -1;
}

h1 {
    margin-bottom: 10px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

p {
    font-size: 18px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

h2 {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

label {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

  input {
    padding: 10px;
    width: 300px;
    border-radius: 8px;
    border: 1px solid black;
}

  input:focus {
    outline: none;
    border: 2px solid #39ff14;
    box-shadow: 0 0 10px rgba(57, 255, 20, 0.5);
  }

button {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid black;
    font-weight: 1000;
    transition: scale 0.5s ease-in-out, filter 0.3s ease-in-out;
}

button:hover {
    scale: 1.1;
    filter: drop-shadow(0 0 12px #39ff14);
}

a:hover {
    scale: 1.1;
    filter: drop-shadow(0 0 12px #39ff14);
}

a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 8px;
    border: 1px solid black;
    font-weight: 1000;
    transition: scale 0.5s ease-in-out, filter 0.3s ease-in-out;
    text-decoration: none;
}




.back-Home {
    position: absolute;
    top: 20px;
    right: 20px;
}

.result-box {
    background-color: white;
    padding: 20px;
    margin: 30px auto;
    width: fit-content;
    max-width: 80%;
    border-radius: 8px;
    border: 1px solid black;
    animation: alertPop 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes resultPop {
    0% {
      transform: scale(0.6);
      opacity: 0;
    }
    65% {
      transform: scale(1.04);
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
}
